.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 0px;
  color: black;
}
.aboutheading {
  position: relative;
  margin-top: 20px;
}
.aboutLogo {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.aboutSections {
  display: flex;
  gap: 80px;
}
.aboutRight {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.aboutPara {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 20px;
  font-weight: 500;
}
.aboutSkills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutSkill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}
.aboutSkill:hover {
  transform: scale(1.05);
  transform: 0.3s;
}
.skillName {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.aboutLine {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(90deg, rgb(43, 0, 255) 10%, purple 90%);
}
.aboutAchievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}
.aboutAchieve:hover {
  transform: scale(1.05);
  transform: 0.3s;
}
.aboutAchieve {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
.achieveText1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(90deg, rgb(43, 0, 255) 10%, purple 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.achieveText2 {
  font-size: 22px;
  font-weight: 500;
}
.achieveLine {
  height: 100%;
  width: 10%;
}

@media (max-width: 1200px) {
  .aboutSections {
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
  }
  .aboutLeft {
    margin-left: auto;
    margin-right: auto;
  }
  .aboutRight {
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
  }
  .aboutSkills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
  }
  .aboutAchievements {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-left: 80px;
  }
}

@media (max-width: 700px) {
  .aboutSkills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
  }
  .aboutAchievements {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-left: 80px;
  }
  .aboutPara {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
    font-weight: 500;
  }
  .aboutSkill {
    gap: 20px;
  }
  .skillName {
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
  }
  .aboutLine {
    width: 50%;
    height: 8px;
  }
  .heading {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .aboutPara {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
    font-weight: 500;
  }
  .aboutSkill {
    gap: 5px;
  }
  .skillName {
    min-width: 150px;
    font-size: 15px;
    font-weight: 500;
  }
  .aboutAchievements {
    display: flex;
    width: 80%;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 80px;
    margin-left: 0px;
  }
}

@media (max-width: 460px) {
  .aboutPara {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 10px;
    font-weight: 500;
  }
  .aboutSkills {
    margin-left: 0px;
  }
  .aboutSkill {
    gap: 1px;
  }
  .skillName {
    min-width: 150px;
    font-size: 15px;
    font-weight: 500;
  }
  .aboutLine {
    width: 50%;
    height: 8px;
  }

  .aboutAchievements {
    margin-left: 0px;
  }

  .aboutAchieve {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
  }
  .achieveText1 {
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(90deg, rgb(43, 0, 255) 10%, purple 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .achieveText2 {
    font-size: 15px;
    font-weight: 500;
  }
}
