.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.servicesCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}
.servicesFormat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}
.servicesFormat:hover {
  border: 2px solid yellow;
  background-image: linear-gradient(45deg, brown, green);
  transform: scale(1.05);
  transition: 0.4s;
}
.servicesH3 {
  font-size: 28px;
  font-weight: 600;
}
.servicesH2 {
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(90deg, rgb(43, 0, 255) 10%, purple 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.servicesP {
  color: white;
  font-size: 24px;
  line-height: 40px;
  max-width: 300px;
}
.servicesReadmore {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}


@media(max-width: 1025px){
  .services {
    align-items: start;
    gap: 70px;
  }
 .servicesTitle{
  width: 900px;
  margin: auto;
 }
 .servicesFormat{
  gap: 20px;
  padding: 32px;

 }
 .servicesH3 {
  font-size: 20px;
}
.servicesH2 {
  font-size: 25px;
  font-weight: 800;

}
 .servicesP{
  font-size: 15px;
  line-height: 25px;
  max-width: 300px ;
 }
 .readMoreArrow{
  font-size: 1px;
 }
 .servicesCont{
  grid-template-columns: 1fr 1fr;
  gap: 30px;
 }
}

@media(max-width: 768px){
  .services {
    align-items: start;
    gap: 70px;
  }

 .servicesFormat{
  gap: 20px;
  padding: 32px;

 }
 .servicesH3 {
  font-size: 20px;
}
.servicesH2 {
  font-size: 25px;
  font-weight: 800;

}
 .servicesP{
  font-size: 15px;
  line-height: 25px;
  max-width: 300px ;
 }
 .readMoreArrow{
  font-size: 1px;
 }
 .servicesCont{
  grid-template-columns: 1fr ;
  gap: 30px;
 }
}

@media(max-width: 600px){
  .services {
    align-items: start;
    gap: 70px;
    margin: 20px 90px;
  }
 /* .servicesTitle{
  width: 500px;
  margin: auto;
 } */
 .servicesFormat{
  gap: 20px;
  padding: 32px;

 }
 .servicesH3 {
  font-size: 20px;
}
.servicesH2 {
  font-size: 25px;
  font-weight: 800;

}
 .servicesP{
  font-size: 15px;
  line-height: 25px;
  max-width: 300px ;
 }
 .readMoreArrow{
  font-size: 1px;
 }
 .servicesCont{
  grid-template-columns: 1fr ;
  gap: 30px;
 }
}